<launch>
  <param name="use_sim_time" value="true"/>
  <arg name="use_local_build" default="false" />
  <arg name="ihmc_network_file" default="$(find ihmc_valkyrie_ros)/configurations/IHMCNetworkParametersSim.ini" />
  <arg name="description_model" default="$(find val_description)/model/urdf/valkyrie_sim.urdf" />

  <include file="$(find ihmc_ros_common)/launch/robot_description_common.launch">
    <arg name="robot_name" value="valkyrie" />
    <arg name="model_file" value="$(arg description_model)" />
  </include>

  <include file="$(find ihmc_valkyrie_ros)/launch/common/ihmc_valkyrie_params_common.launch" />

  <node name="IHMCValkyrieROSAPI" pkg="ihmc_ros_java_adapter" type="gradlew" args="runJava -Dus.ihmc.networkParameterFile=$(arg ihmc_network_file) -PuseLocal=$(arg use_local_build) -Pyaml=$(find ihmc_valkyrie_ros)/configurations/api.yaml -PprogramArgs=--realRobot" required="true" output="screen" cwd="node">
  </node>
</launch>
